
#board {
    margin: auto;
}

td {
    border-radius: 10px;
    border: 1px solid black;
    padding: 3rem;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

#result {
    font-size: 30px;
    text-align: center;
}

div.btcontainer {
    text-align: center;
}
#reset {
    font-size: 25px;
}